<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/screen.css"
	media="screen" />
<title>Inicio</title>
</head>
<body>
	<div id="content">
	<div id="logo">
		<h1><a href="index.html">Librería</a></h1>
	</div>
	<div class="line"></div>
		<div>

			<form  th:action="@{/login}" method="post">

				<p>
				<h3><b>Username</b>	<input type="text" name="username" /></h3>
				</p>
				<p>
				<h3><b>Password</b>	<input type="password" name="password"/></h3>
				</p>

				<input type="submit" value="Entrar">

			</form>
		</div>

		

		<div th:if="${param.error}" >

			<h3>Usuario o password invalido</h3></div>

		<div th:if="${param.logout}"  style="color:red">

			Ya has salido</div>
	</div>
</body>
</html>