<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />

</head>
<body>
	<div id="content">
		<p id="topleft"><a href="/logout">Exit</a></p>
		
	<div id="logo">
		<h1><a href="index.html">Librería</a></h1>
	</div>
	<div class="line"></div>
	<h1>Libro guardado con éxito</h1>
	<h3><a href="/libros">Volver</a></h3>
	</div>

</body>
</html>