<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/screen.css"
	media="screen" />
<title>Usuario</title>
</head>
<body>
	<div id="content">
		<p id="topleft">
			<a href="/logout">Exit</a>
		</p>
		<div id="logo">
			<h1>
				<a href="/libros">Librería</a>
			</h1>
		</div>
		<div class="line"></div>
		
		<p>
		Pulse <a href="/libros">aquí</a> para volver a la página principal.
		</p>
	</div>
</body>
</html>